.wrapper .main-content .logo img {
  margin-top: 50px;
  margin-left: 0;
  margin-bottom: 30px;
}

.pills ul {
  display: flex;
  flex-direction: row;
}

.pills ul li {
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 5px 15px;
  margin: 0 10px;
  border-radius: 20px;
  text-transform: uppercase;
}

.pills ul li:first-child {
  margin-left: 0;
}